{% extends "base.html" %}

{% block content %}

<h1>Source server</h1>

{% if message %}<p class="{{ message_class or 'notice' }}">{{ message }}</p>{% endif %}

<form method="post" action="/source">

  <label class="check"><input type="checkbox" name="enabled" {% if source.enabled %}checked{% endif %}> Enabled</label>

  {% set host_ip_name = "host_ip" %}
  {% set port_name = "admin_port" %}
  {% include "_server_host_port.html" %}

  <label>Username<input type="text" name="username" value="{{ form_username or source.username }}" autocomplete="username"></label>

  <label>Password

    <div class="password-row">

      <input class="pw-field" type="password" name="password" value="{{ password_plain }}" autocomplete="current-password">

      <button type="button" class="pw-toggle">Show</button>

    </div>

  </label>

  <div class="row-actions">

    <button type="submit">Save</button>

    <button type="submit" formaction="/source/test" formmethod="post">Test connection</button>

  </div>

</form>

{% endblock %}
